# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Vagrant
.vagrant/
*.box
.venv/
.pytest_cache/

# Logs
*.log
structure_and_contents.txt
selective_exporter.py

# Secrets
*.pem
*.key
.env
ngrok.token
dashboard-token.txt
dashboard_token.txtngrok.token
secrets/*

# PyInstaller build artifacts
build/
dist/
*.spec

# Game-specific
games/brick_breaker/build/
games/brick_breaker/dist/
games/brick_breaker/.venv/
games/snake/build/
games/snake/dist/
games/snake/.venv/
games/tetris/build/
games/tetris/dist/
games/tetris/.venv/